{% load static %}{% load link_holders %}
<!-- For Mobil -->
{% include 'mainapp/includes/header-mobile.html' %}
<!-- End For Mobil -->

<!-- Header for Desktop & Tablet -->
<div class="d-none d-sm-block relative">
                {% if user.is_authenticated %}

                  <a href="#" id="toggle_panel" class="top-right-absolute btn btn-link" title="Скрыть/Показать панель администратора"><i class="fas fa-arrow-up"></i></a>


                {% endif %}
    <div class="header-addr py-2 py-lg-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-7">
                    <p class="font-text-thin mb-0"><img src="{% static 'images/img-location.png' %}" alt="Icon location"
                            class="img-fluid mr-2"><a href="{% url 'contact' %}#page-top">{{ profile.org_address }}</a></p>
                </div>
                <div class="col-sm-5">
                    {% if profile %}
                        <p class="font-text-thin text-right mb-0">{{ profile.org_short_name }}<br>
                        В реестрах НАКС:&nbsp;
                        {% if profile.org_acsp_reestr_link %}
                            <a href="{{ profile.org_acsp_reestr_link }}" target="_blank">{{ profile.org_acsp_code }}</a>
                        {% endif %}
                        {% if profile.org_csp_reestr_link %}
                            <a href="{{ profile.org_csp_reestr_link }}" target="_blank">{{ profile.org_csp_code }}</a>
                        {% endif %}
                        {% if profile.org_acso_reestr_link %}
                            <a href="{{ profile.org_acso_reestr_link }}" target="_blank">{{ profile.org_acso_code }}</a>
                        {% endif %}
                        {% if profile.org_acst_reestr_link %}
                            <a href="{{ profile.org_acst_reestr_link }}" target="_blank">{{ profile.org_acst_code }}</a>
                        {% endif %}
                        {% if profile.org_cok_reestr_link %}
                            <a href="{{ profile.org_cok_reestr_link }}" target="_blank">{{ profile.org_cok_code }}</a>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="header-logo border-bottom w-100 py-3">
        <div class="container py-3">
            <div class="row align-items-center">
                <div class="col-sm-5 col-xl-4">
                    <div class="d-flex align-items-center">
                        <a href="{% url 'index' %}">
                            <img class="img-fluid pr-3" src="{% static 'images/logo-head.png' %}" alt="Logotip_company">
                        </a>
                        {% comment %} <a href="{% url 'index' %}">
                            <img class="img-fluid" src="{% static 'images/logo-amur.png' %}" alt="Logotip_company">
                        </a> {% endcomment %}
                    </div>
                </div>
                <div class="col-sm-7 col-xl-4">
                    <div class="row">
                        <div class="col-6">
                            <p class="font-text-demi mb-0">{{ profile.org_main_phone }}</p>
                            <p class="font-text-demi mb-0">{{ profile.org_secondary_phone }}</p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="font-text-thin text-secondary mb-0">{{ profile.org_email }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="row align-items-center mt-sm-3 mt-xl-0">
                        <div class="col-5 d-xl-none">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control border" placeholder="" aria-label=""
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-search bg-transparent border" type="button" title="Поиск"><img
                                                src="{% static 'images/icon-search.png' %}" alt="Поиск"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col text-right">
                            <a href="#" class="btn btn-outline-blue py-2" data-toggle="modal" data-target="#modal-statement">Оставить
                                заявки</a>
                            <a href="https://ac.naks.ru" target="_blank" class="btn btn-blue py-2"><img src="{% static 'images/img-enter.png' %}" alt="Icon enter"
                                    class="img-fluid mr-2">Войти в систему <strong>ЭДО</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main w-100">
        <div class="container">
            <!-- Navigation for Desktop & Tablet -->
            <nav class="navbar navbar-expand-lg py-sm-2 py-lg-0">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTablet"
                    aria-controls="navbarTablet" aria-expanded="false" aria-label="Toggle navigation"><img src="{% static 'images/toggler-icon.png' %}"
                        alt="Развернуть / свернуть"><span class="font-text-demi text-white ml-3">МЕНЮ</span></button>
                <!-- <h5 class="text-white mt-2 d-none d-sm-block d-lg-none">МЕНЮ</h5> -->

                <div class="collapse navbar-collapse" id="navbarTablet">
                    <ul class="navbar-nav mr-lg-auto py-4">
                        <li class="d-flex d-lg-none">
                            <!-- <h5 class="text-white mt-2 mb-3">МЕНЮ</h5> -->
                            <button type="button" class="close" data-toggle="collapse" data-target="#navbarTablet"
                                aria-controls="navbarTablet" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="text-white" aria-hidden="true">&times;</span>
                            </button>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active py-3 py-sm-2" href="{% url 'index' %}">Главная</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link py-3 py-sm-2" href="{% link_holder 'ABOUT' %}#page-top">{% title_holder 'ABOUT' %}</a>
                        </li>

                        <!-- <li class="nav-item">
                                <a class="nav-link py-3 py-sm-2" href="about_center.html">Услуги</a>
                            </li> -->

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle py-3 py-sm-2" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Услуги</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% autoescape off %}
                                {% for service in all_services %}
                                <a class="dropdown-item" href="{% url 'service' service.pk %}#page-top">{{ service.title }}</a>
                                {% endfor %}
                                {% endautoescape %}
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-3 py-sm-2" href="{% url 'documents' %}#page-top">Документация</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link py-3 py-sm-2" href="{% link_holder 'OK' %}#page-top">{% title_holder 'OK' %}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link py-3 py-sm-2" href="{% url 'contact' %}#page-top">Контакты</a>
                        </li>
                    </ul>

                    <form class="my-2 my-lg-0 d-none d-xl-block">
                        <div class="input-group">
                            <input type="text" class="form-control border" placeholder="" aria-label=""
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-search bg-transparent border" type="button" title="Поиск"><img
                                        src="{% static 'images/icon-search.png' %}" alt="Поиск"></button>
                            </div>
                        </div>
                    </form>
                    <!-- </div> -->
            </nav>
            <!-- End Navigation for Desktop & Tablet -->
        </div>
    </div>

    <div class="header-info mb-5">
        <div class="img-overlay">
            <div class="container">
                <div class="row align-items-center">

                    <!-- Информация о центре -->
                    <div class="col-lg-5">
                        <div class="row align-items-center mb-4 mb-lg-5">
                            <div class="col-sm-2 col-lg-3 col-xl-2">
                                <img class="img-fluid" src="{% static 'images/logo-sasv.png' %}" alt="Logotip_SASv">
                            </div>
                            <div class="col-sm-4 col-lg-9 col-xl-10">
                                <div class="font-text-demi ml-2">
                                    <p class="text-dopusk text-uppercase mb-1">Организация допущена к выполнению работ
                                        по аттестации сварочного производства</p>
                                    <a href="http://www.naks.ru/" class="" target="_blank">www.naks.ru</a>
                                </div>
                            </div>
                            <div class="col-sm-6 d-lg-none">
                                <h3 class="mb-4">{{ profile.org_short_name }}</h3>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h3 class="d-none d-lg-block mb-4">{{ profile.org_short_name }}</h3>
                            <p class="text-head">{{ profile.org_intro }}</p>
                            <p class="text-head mb-0">{{ profile.org_history }}</p>
                        </div>
                    </div><!-- Конец - Информация о центре -->

                    <!-- Услуги центра -->
                    <div class="col-lg-7">
                        <div class="row align-items-center">
                        {% autoescape off %}
                            {% for service in all_services %}
                                {% include 'mainapp/includes/service_menu_button.html' %}
                            {% endfor %}
                        {% endautoescape %}
                        </div>
                        <hr class="line-header">
                    </div><!-- Конец - Услуги центра -->

                </div>

                <div class="row align-items-center">
                    <div class="order-2 order-lg-1 col-lg-8 col-xl-5">
                        <div class="row align-items-center">
                            <div class="col">
                                <a href="{% link_holder 'ABOUT' %}#page-top" class="btn btn-outline-white btn-block py-2">{% title_holder 'ABOUT' %} →</a>

                            </div>

                            <span class="text-center">или</span>

                            <div class="col">
                                <a href="#" class="btn btn-danger btn-block text-uppercase py-2" data-toggle="modal"
                                    data-target="#modal-statement">Оставить заявку онлайн</a>
                            </div>
                        </div>
                    </div>
                    <div class="order-1 order-lg-2 col-lg-4 col-xl-7">
                        <a href="{% link_holder 'PROFSTANDARTI' %}#page-top" class="d-block text-white">{% title_holder 'PROFSTANDARTI' %} →</a>
                        <hr class="line-header d-block d-lg-none mb-5">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Header for Desktop & Tablet -->