{% extends 'mainapp/base.html' %}

{% block content  %}


    <div class="container mb-5" id="page-top">
        <div class="d-none d-sm-block">
            <div class="row align-items-center mb-5">
                <div class="col-sm-3 col-lg-2">
                    <a href="{% url 'index' %}" class="btn btn-outline-secondary text-size-12 py-2">&larr; На главную</a>
                </div>
                <div class="col-sm-9 col-lg-10">
                    <p class="mb-2">Статьи</p>
                    <hr class="line-breadcrumb">
                </div>
            </div>
        </div>

        <h5 class="mb-4">Статьи</h5>

        <div class="box-slider-img mb-4">
            {% for article in articles %}
                {% include 'mainapp/includes/one_article.html' %}
            {% endfor %}
        </div>

        <div class="d-none d-sm-block">
            <div class="row align-items-center mb-5">
                <div class="col-sm-3 col-lg-2">
                    <a href="{% url 'index' %}" class="btn btn-outline-secondary text-size-12 py-2">← На главную</a>
                </div>
                <div class="col-sm-9 col-lg-10">
                    <p class="mb-2">Статьи</p>
                    <hr class="line-breadcrumb">
                </div>
            </div>
        </div>

        <div class="d-block d-sm-none">
            <a href="{% url 'index' %}" class="btn btn-outline-secondary btn-block text-size-12 mr-4 py-2">&larr; На главную</a>
        </div>

    </div>
{% endblock  %}
