{% extends 'mainapp/base.html' %}

{% block content %}
        <div class="row align-items-end mb-4" id="page-top">
            <div class="col-sm-6 col-lg-7 offset-xl-1 col-xl-3">
                <h4 class="font-text-regular mb-3 mb-sm-4">{{ article.title|safe }}</h4>
                <p class="text-size-12 mb-3 mb-sm-0">{{ article.published_date }}</p>
            </div>
            <div class="col-sm-6 col-xl-6 text-right">
                <div class="bg-light-blue p-3 p-xl-4">
                    <p class="font-text-thin text-size-14 mb-2 mb-sm-3">Краткое описание</p>
                    <p class="font-text-demi mb-2 mb-sm-3">{{ article.short_description }}</p>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="offset-xl-4 col-xl-7">
                <p class="text-size-14 mb-3 mb-lg-4">{{ article.text|safe }}</p>
                <hr>
            </div>
        </div>
{% endblock content %}