{% extends 'mainapp/base.html' %}{% load link_holders %}

{% block content %}
<div class="container mb-5" id="page-top">
        <div class="d-none d-sm-block">
            <div class="row align-items-center mb-5">
                <div class="col-sm-3 col-lg-2">
                    <a href="{% url 'index' %}" class="btn btn-outline-secondary text-size-12 py-2">&larr; На главную</a>
                </div>
                <div class="col-sm-9 col-lg-10">
                    <p class="mb-2">Контакты</p>
                    <hr class="line-breadcrumb">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-7">
                <h4 class="mb-4 mb-sm-5">Контакты {{ profile.org_short_name }}</h4>
                <p class="text-size-18 mb-2 mb-sm-4"><strong>Адрес местонахождения:</strong> {{ profile.org_address }}</p>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <div class="mb-3 mb-sm-0">
                            <p class="text-size-18 mb-2 mb-sm-4">Телефон</p>
                            <p class="font-text-demi mb-2">{{ profile.org_main_phone }}</p>
                            <p class="font-text-demi mb-2">{{ profile.org_secondary_phone }}</p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="mb-3 mb-sm-0">
                            <p class="text-size-18 mb-2 mb-sm-4">Email</p>
                            <p class="font-text-demi mb-2">{{ profile.org_email }}</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mb-0 mb-sm-4">
                    {% for contact in contacts %}
                    <div class="col-sm-4">
                        <div class="mb-3 mb-sm-0">
                            <p class="font-text-demi mb-2 mb-sm-3">{{ contact.title }}</p>
                            <p class="text-size-14 mb-2 mb-sm-3">{{ contact.description }}</p>
                            <p class="text-size-14 mb-2">{{ contact.phone }}</p>
                            <p class="text-size-14 mb-2">{{ contact.email }}</p>
                        </div>
                    </div>
                    <hr class="mb-lg-5">
                    {% endfor %}
                </div>
                <div class="d-none d-lg-block">
                    <div class="row align-items-center mb-5">
                        <div class="col-sm-3">
                            <a href="{% url 'index' %}" class="btn btn-outline-secondary text-size-12 py-2">&larr; На главную</a>
                        </div>
                        <div class="col-sm-9">
                            <p class="mb-2">Контакты</p>
                            <hr class="line-breadcrumb">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="mb-4" id="map">
                    <script type="text/javascript" charset="utf-8" async src="{{ profile.org_address_map_link }}"></script>
                </div>
            </div>
        </div>
        <div class="d-block d-lg-none">
            <a href="{% url 'index' %}" class="btn btn-outline-secondary btn-block text-size-12 mr-4 py-2">&larr; На главную</a>
        </div>

    </div>
{% endblock  %}
