{% extends 'mainapp/base.html' %}

{% block content %}
{{ menu_urls.0.menu_link }} {{ menu_urls.0.get_menu_link_display }}
<div class="container mb-5">
    <div class="row">
        <div class="col-xl-8">
            <div class="row align-items-center mb-3">
                <div class="col col-sm-8">
                    <h4 class="mb-0">Новости</h4>
                </div>
                <div class="col col-sm-4 text-right">
                    <a href="#" class="text-dark text-size-14">Все новости →</a>
                </div>
            </div>

            <!-- News not photo -->
            <div class="row">
                <div class="col-sm order-2 order-xl-1">
                    {% if not_pictured_posts %}
                    {% for post in not_pictured_posts %}
                    <div class="news-not-photo p-3 p-sm-0 mb-4 mb-sm-5">
                        <div class="row mb-2">
                            <div class="col"><span class="head-news font-text-thin text-size-14 text-primary">
                            {{ post.category }}
                            </span></div>
                            <div class="col text-right"><span class="head-news font-text-thin text-size-14 text-muted">
                            {{ post.published_date|date:"d M. Y"}}</span></div>
                        </div>
                        <p class="font-text-demi">{{ post.title }}</p>
                        <p class="font-text-thin text-size-14 d-none d-sm-block">{{ post.short_description }}</p>
                        <a href="{% url 'detailview' 'post' post.pk %}#page-top" class="btn btn-silver btn-sm"><img src="static/images/img-icon-doc-min.png"
                                alt="Icon doc" class="img-fluid mr-2">Подробнее</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="news-not-photo p-3 p-sm-0 mb-4 mb-sm-5">
                        <div class="row mb-2">
                            <div class="col"><span class="head-news font-text-thin text-size-14 text-primary">Новости
                                    НАКС</span></div>
                            <div class="col text-right"><span class="head-news font-text-thin text-size-14 text-muted">12
                                    Июля 2018</span></div>
                        </div>
                        <p class="font-text-demi">Соглашение о сотрудничестве между Советом по профессиональным
                            квалификациям в области сварки</p>
                        <p class="font-text-thin text-size-14 d-none d-sm-block">Соглашение о сотрудничестве между
                            Советом по профессиональным квалификациям в области сварки</p>
                        <a href="#" target="_blank" class="btn btn-silver btn-sm"><img src="static/images/img-icon-doc-min.png"
                                alt="Icon doc" class="img-fluid mr-2">Соглашение</a>
                    </div>
                    <div class="news-not-photo p-3 p-sm-0 mb-4 mb-sm-5 mb-xl-4">
                        <div class="row mb-2">
                            <div class="col"><span class="head-news font-text-thin text-size-14 text-primary">Новости
                                    АЦ Хабаровск</span></div>
                            <div class="col text-right"><span class="head-news font-text-thin text-size-14 text-muted">05
                                    Июня 2018</span></div>
                        </div>
                        <p class="font-text-demi">Соглашение между Советом по профессиональным квалификациям в области
                            сварки и Министерством труда</p>
                        <p class="font-text-thin text-size-14 d-none d-sm-block">Подписано соглашение между Советом по
                            профессиональным квалификациям в области сварки и Министерством труда и социальной защиты
                            населения Забайкальского края</p>
                        <a href="#" target="_blank" class="btn btn-silver btn-sm"><img src="static/images/img-icon-doc-min.png"
                                alt="Icon doc" class="img-fluid mr-2">Соглашение</a>
                    </div>
                    <div class="news-not-photo p-3 p-sm-0 mb-5 mb-xl-4 d-sm-none d-lg-block">
                        <div class="row mb-2">
                            <div class="col"><span class="head-news font-text-thin text-size-14 text-primary">Новости
                                    НАКС</span></div>
                            <div class="col text-right"><span class="head-news font-text-thin text-size-14 text-muted">04
                                    Июня 2018</span></div>
                        </div>
                        <p class="font-text-demi">Благодарность Территориального центра повышения квалификации
                            Национального агентства развития квалификаций</p>
                        <p class="font-text-thin text-size-14 d-none d-sm-block">Благодарность Территориального центра
                            повышения квалификации Национального агентства развития квалификаций по Приволжскому
                            федеральному округу государственного бюджетного...</p>
                        <a href="#" target="_blank" class="btn btn-silver btn-sm"><img src="static/images/img-icon-doc-min.png"
                                alt="Icon doc" class="img-fluid mr-2">Благодарность</a>
                    </div>
                    {% endif %}
                </div><!-- End News not photo -->

                <!-- News with photo -->

            <div class="col-sm-7 order-1 order-xl-2">
                {% for post, picture in pictured_posts.items %}
                    <div class="card news-with-photo border-0 mb-4">
                        <img class="card-img" src="{{ picture.image.url }}" alt="News photo">
                        <div class="card-img-overlay d-flex align-items-start">
                            <span class="font-text-thin text-size-14 text-white text-right mr-3"><strong>{{ post.published_date|date:"d M."}}</strong><br>{{ post.published_date|date:"Y"}}</span>
                            <span class="font-text-thin text-size-14 text-white">{{ post.category }}</span>
                        </div>
                        <div class="card-img-overlay d-flex align-items-end">
                            <a href="{% url 'detailview' 'post' post.pk %}#page-top" class="card-text">{{ post.title }}</a>
                        </div>
                    </div>

                {% endfor %}
                    {% comment %} <div class="card news-with-photo border-0 mb-4">
                        <img class="card-img" src="static/images/img-news2.png" alt="News photo">
                        <div class="card-img-overlay d-flex align-items-start">
                            <span class="font-text-thin text-size-14 text-white text-right mr-3"><strong>04 Июля</strong><br>2018</span>
                            <span class="font-text-thin text-size-14 text-white">Новости НАКС</span>
                        </div>

                        <div class="card-img-overlay d-flex align-items-end">
                            <a href="#" class="card-text">Руководство НАКС в Рязани</a>
                        </div>
                    </div>
                    <div class="card news-with-photo border-0 mb-4 mb-sm-5 mb-xl-4">
                        <img class="card-img" src="static/images/img-news3.png" alt="News photo">
                        <div class="card-img-overlay d-flex align-items-start">
                            <span class="font-text-thin text-size-14 text-white text-right mr-3"><strong>05 Июля</strong><br>2018</span>
                            <span class="font-text-thin text-size-14 text-white">Новости НАКС</span>
                        </div>

                        <div class="card-img-overlay d-flex align-items-end">
                            <a href="#" class="card-text">Независимая оценка квалификации и государственная итоговая
                                аттестация выпускников. Реализация пилотного проекта</a>
                        </div>
                    </div> {% endcomment %}
                </div><!-- End News with photo -->
            </div>
        </div>

        <div class="col-xl-4">
            <div class="row">
                <!-- Статьи -->
                <div class="col-sm-6 col-xl-12">
                    <div class="row align-items-center mb-3">
                        <div class="col">
                            <h4 class="mb-0">Статьи</h4>
                        </div>
                        <div class="col text-right">
                            <a href="#" class="text-dark text-size-14">Все статьи →</a>
                        </div>
                    </div>
                    {% include 'mainapp/includes/articles.html' %}
                </div><!-- End Статьи -->

                <!-- Документы -->
                <div class="col-sm-6 col-xl-12">
                    <div class="documents-block">
                        <div class="row align-items-center mb-3">
                            <div class="col-6">
                                <h4 class="mb-0">Документы</h4>
                            </div>
                            <div class="col-6 text-right">
                                <a href="#" class="text-dark text-size-14">Все&nbsp;документы&nbsp;→</a>
                            </div>
                        </div>
                        {% include 'mainapp/includes/documents.html' %}
                    </div>
                </div>
                <!-- End Документы -->
            </div>

        </div>
    </div>
</div>

{% endblock %}